################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NutriSoftwareV2.Negocio/FileContentIndex/0ebc09f8-2500-48ae-a3c6-0482c612e1b7.vsidx
/.vs/NutriSoftwareV2.Negocio/FileContentIndex/1aedfd24-39ba-47d1-85aa-3fb0634dd869.vsidx
/.vs/NutriSoftwareV2.Negocio/FileContentIndex/295182eb-f796-459f-b484-8a5ca15263e8.vsidx
/.vs/NutriSoftwareV2.Negocio/FileContentIndex/6b07ec06-e559-44e6-8648-dcfb795eed06.vsidx
/.vs/NutriSoftwareV2.Negocio/FileContentIndex/ddd34b2a-145a-456d-bd6d-fab62a58cbb2.vsidx
