################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NutriSoftwareV2.Negocio/FileContentIndex/0ebc09f8-2500-48ae-a3c6-0482c612e1b7.vsidx
/.vs/NutriSoftwareV2.Negocio/FileContentIndex/1aedfd24-39ba-47d1-85aa-3fb0634dd869.vsidx
/.vs/NutriSoftwareV2.Negocio/FileContentIndex/295182eb-f796-459f-b484-8a5ca15263e8.vsidx
/.vs/NutriSoftwareV2.Negocio/FileContentIndex/6b07ec06-e559-44e6-8648-dcfb795eed06.vsidx
/.vs/NutriSoftwareV2.Negocio/FileContentIndex/ddd34b2a-145a-456d-bd6d-fab62a58cbb2.vsidx
/.vs/NutriSoftwareV2/FileContentIndex/4b9f81f2-8caa-4ec3-aef0-4357e1e45eee.vsidx
/.vs/NutriSoftwareV2/FileContentIndex/a19c9655-c695-48c0-bc29-df1d708626b0.vsidx
/.vs/NutriSoftwareV2/FileContentIndex/9a257a77-540a-4e77-adb7-8297d6a9fe5d.vsidx
/.vs/NutriSoftwareV2.Negocio/FileContentIndex/18c8ce29-cf4b-4063-a92e-2aa1d3ed24fe.vsidx
/.vs/NutriSoftwareV2.Negocio/FileContentIndex/1decafe7-d334-454c-86a9-39849c362971.vsidx
/.vs/NutriSoftwareV2.Negocio/FileContentIndex/47403a72-03df-44f8-a4cb-d081e19f2f0a.vsidx
/.vs/NutriSoftwareV2/FileContentIndex/d4360d94-555f-4082-8150-7e54682119b6.vsidx
/.vs/NutriSoftwareV2/FileContentIndex/3add0ef0-8f59-44f2-837c-478aab0120cb.vsidx
/.vs/NutriSoftwareV2/FileContentIndex/0de5d4b1-1bf1-4e74-8acb-0f1f8057879a.vsidx
/.vs/NutriSoftwareV2/FileContentIndex/74bc182e-fc62-4196-98bb-8c0642b39bfa.vsidx
/.vs/NutriSoftwareV2/config/applicationhost.config
/.vs/NutriSoftwareV2/FileContentIndex/387285c4-251d-46f7-b8ce-32ed2950c5b0.vsidx
/.vs/NutriSoftwareV2/FileContentIndex/7261723e-2f2f-4508-9556-bdff3bce4f8f.vsidx
/.vs/NutriSoftwareV2/FileContentIndex/b014d8d0-12e1-457a-9c87-de28ad370fd7.vsidx
/.vs/NutriSoftwareV2/FileContentIndex/c57e0ed5-84d1-4081-b243-e226940ef38c.vsidx
/.vs/NutriSoftwareV2/FileContentIndex/da22e6fe-b1b7-46f4-b007-a59bef208e4a.vsidx
/.vs/NutriSoftwareV2/FileContentIndex/ee136305-de59-466c-a073-0add852e369d.vsidx
/.vs/NutriSoftwareV2/v17/.wsuo
/.vs/NutriSoftwareV2/v17/workspaceFileList.bin
/.vs/NutriSoftwareV2.Negocio/DesignTimeBuild/.dtbcache.v2
/.vs/NutriSoftwareV2.Negocio/v17/.futdcache.v2
/.vs/NutriSoftwareV2.Negocio/v17/fileList.bin
/.vs/NutriSoftwareV2.Negocio/v17/TestStore/0/001.testlog
/.vs/NutriSoftwareV2.Negocio/v17/TestStore/0/002.testlog
/.vs/NutriSoftwareV2.Negocio/v17/TestStore/0/testlog.manifest
/.vs/NutriSoftwareV2Sln/DesignTimeBuild/.dtbcache.v2
/.vs/NutriSoftwareV2Sln/FileContentIndex/1bec60c4-1f7b-4c81-a1fc-9b67e2845af2.vsidx
/.vs/NutriSoftwareV2Sln/FileContentIndex/35c4f0ef-9df1-45e3-aedc-0ae0ec486fac.vsidx
/.vs/NutriSoftwareV2Sln/FileContentIndex/5f1f2559-2d8c-4bef-8561-599796afbe90.vsidx
/.vs/NutriSoftwareV2Sln/FileContentIndex/e94a7755-3ec7-4700-b406-518041b06d1a.vsidx
/.vs/NutriSoftwareV2Sln/FileContentIndex/ef7320e1-e068-4224-b693-55b0780c4656.vsidx
/.vs/NutriSoftwareV2Sln/v17/.futdcache.v2
/.vs/NutriSoftwareV2/FileContentIndex/293bc38a-eb82-47e1-97ec-d5d00b5419e7.vsidx
/.vs/NutriSoftwareV2/FileContentIndex/7ccc279f-bb3e-4e6f-a315-68b2e7487038.vsidx
/.vs/NutriSoftwareV2/FileContentIndex/b8819f8e-18a0-43dc-bbf1-90562c8a5e26.vsidx
/.vs/NutriSoftwareV2/FileContentIndex/d81ca622-c9c9-4c86-a9dc-6d4707157851.vsidx
/.vs/NutriSoftwareV2Sln/FileContentIndex/6931563a-07c7-4d96-95a5-14e860e47b5f.vsidx
/.vs/NutriSoftwareV2Sln/FileContentIndex/92cf0c50-d2db-4abb-b955-04d711a66ff7.vsidx
/.vs/NutriSoftwareV2Sln/FileContentIndex/cbad11fb-4d7d-4de0-b054-b8baa5182103.vsidx
/.vs/NutriSoftwareV2Sln/FileContentIndex/d0c733e7-5e7c-4d7d-be15-4cd89965b59c.vsidx
