@model NutriSoftwareV2.Negocio.Domain.ObservacaoPlano

<form method="post" action="@Url.Action("TesteCadastrarObs","Dieta")">

    <input type="text" name="HorarioReferencia" value="08:30" />
    <input type="text" name="Anotacoes" value="horario das 08:30" />
    <input type="text" name="CodigoDieta" value="123" />

    <input type="text" name="HorarioReferencia" value="12:00" />
    <input type="text" name="Anotacoes" value="horario das 12:00 Teste" />
    <input type="text" name="CodigoDieta" value="123" />


    <input type="text" name="HorarioReferencia" value="14:30" />
    <input type="text" name="Anotacoes" value="horario das 14:30 teste 333" />
    <input type="text" name="CodigoDieta" value="123" />

    <button type="submit">Enviar</button>
</form>
