@model IEnumerable<NutriSoftwareV2.Negocio.Domain.Paciente>


    @foreach (var item in Model)
    {
        <tr>
            <td class="ml-4" style="width:90%; color: #5b5a5a; font-size:16px;">@item.Nome</td>
            <td class="ml-4" style="width:10%;">
                <a href="@Url.Action("Index", "Paciente", new { Id = item.Id })" class="btn btn-light" style="color: #5b5a5a; font-size:15px; border-radius:25px;">
                    <i class="fa fa-eye" title="Ver Detalhes"></i>
                </a> 
            </td>
        </tr>
    }

