
<div class="row">
    <div class="col-6">
        <form>
            <input type="text" class="form-control" placeholder="Search" />
            @*<button>Buscar</button>*@
        </form>
    </div>
</div>

